@model IEnumerable<JusDanceProjects.API.Models.DanceCourse>

@{
}

<div class="container">
    <div class="row mb-3">
        <form asp-controller="DanceCourses" asp-action="Index">
            <h1>DanceCourses:</h1>
            <a asp-controller="DanceCourses" asp-action="Create" class="btn btn-primary">Create new</a>
        </form>
    </div>

    <div class="row">
    @foreach(var item in Model)
    {
      <div class="mb-4 col-sm-12 col-md-8 col-lg-6 col-xl-4 d-flex align-items-stretch">
        <div class="card">
          <div class="card-body">
          <h5 class="card-title">Course Style: @item.DanceCourseType.Title</h5>
          <p class="card-text">Location: @item.Location</p>
          <p class="card-text">Teacher: @item.Teacher.FirstName</p>
          <p class="card-text">From @item.StartDate.ToShortDateString() till @item.EndDate.ToShortDateString()</p>
          <p class="card-text">Lessons: @item.Lessons.Count()</p>
          <p class="card-text">Attendance: ?/@item.MaxAttendees (TODO)</p>
          </div>
          
          <div class="card-footer">
          <a asp-controller="DanceCourses" asp-action="Lessons" asp-route-id="@item.Id" class="card-link">Lessons</a>
          <a asp-controller="DanceCourses" asp-action="Edit" asp-route-id="@item.Id" class="card-link">Edit</a>
          <a asp-controller="DanceCourses" asp-action="Delete" asp-route-id="@item.Id" class="card-link">Delete</a>
          </div>
        </div>
      </div>
    }
    </div>
</div>