@model JusDanceProjects.API.Models.DanceCourse

@{
}

<div class="container">
  <div class="row mb-3">
      <form asp-controller="DanceCourses" asp-action="Lessons">
          <h1>Course Lessons:</h1>
          <a asp-controller="DanceCourses" asp-action="CreateLesson" asp-route-id="@Model.Id" class="btn btn-primary">Add Lesson</a>
      </form>
  </div>

  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Attending</th>
        </tr>
      </thead>
      <tbody>
        @{ int rowNo = 0; }

        @foreach(var lesson in Model.Lessons)
        {
          <tr>
            <th scope="row">@(rowNo += 1)</th>
            <td>@lesson.StartTime.ToShortDateString()</td>
            <td>@lesson.StartTime.ToShortTimeString()</td>
            <td>@lesson.EndTime.ToShortTimeString()</td>
            <td>TODO</td>
          </tr>
        }
      </tbody>
    </table>
    <a asp-controller="DanceCourses" asp-action="Index">Back to DanceCourses List</a>
  </div>  
</div>