@model List<JusDanceProjects.MVC.Models.ViewModels.DanceCourseTypeVM>

@{
}

<div class="container">
    <div class="row mb-3">
        <form asp-controller="DanceCourseTypes" asp-action="Index">
            <h1>DanceCourseTypes:</h1>
            <a asp-controller="DanceCourseTypes" asp-action="Create" class="btn btn-primary">Create new</a>
        </form>
    </div>

    <div class="row">
    @foreach(var item in Model)
    {
      <div class="mb-4 col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex align-items-stretch">
        <div class="card">
          @if(item.PhotoUrl != null){<img src="@item.PhotoUrl" class="card-img-top" alt="No Photo" style="width: 100%;height: 40vh;object-fit: cover;">}
          <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Description</p>
          </div>

          <div class="card-footer text-center">
            <a asp-controller="DanceCourseTypes" asp-action="Delete" asp-route-id="@item.Id" class="card-link">Delete</a>
            <a asp-controller="DanceCourseTypes" asp-action="Edit" asp-route-id="@item.Id" class="card-link">Edit</a>
          </div>
        </div>
      </div>
    }
    </div>
</div>